<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header bg-success text-white">Status</div>
        <div class="card-block">
          <progress class="progress" value="12" max="100"></progress>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Controller</div>
        <div class="card-block">
          <div class="form-group row mx-auto">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group btn-group" role="group">
                <button type="button" class="btn btn-secondary"><i class="fa fa-play" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-secondary"><i class="fa fa-pause" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-secondary"><i class="fa fa-stop" aria-hidden="true"></i></button>
              </div>
            </div>
            <button type="button" class="btn btn-secondary ml-1">Force Exit</button>
          </div>
          <div class="form-group row">
            <label for="example-number-input" class="col-xs-3 col-form-label">Volume</label>
            <div class="col-xs-9">
              <input class="form-control" type="number" min="0" max="100" value="42" id="example-number-input">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Commands</div>
        <table class="table table-striped table-sm wind-console mb-0">
          <tbody>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
          </tbody>
        </table>
        <div class="card-block">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">wind-ctrl:mpd:stdout</div>
        <table class="table table-striped table-sm wind-console mb-0">
          <tbody>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card">
        <div class="card-header">wind-ctrl:mpd:stderr</div>
        <table class="table table-striped table-sm wind-console mb-0">
          <tbody>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
            <tr>
              <th>13:00:05</th>
              <td>[OK]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header">Resources</div>
        <div class="card-block">
          <p class="card-text">{{ io.resources.length }} in total.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item clearfix" *ngFor="let resource of io.resources">{{ resource.name }} <button type="button" class="btn btn-secondary btn-sm float-xs-right"><i class="fa fa-play" aria-hidden="true"></i></button></li>
        </ul>
        <div class="card-block">
          <p class="card-text">Resources recved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
